<%- include('./partials/header') %>

    <div class="container my-5">
        <div class="h-25">
            <div class="d-flex fles-row justify-content-center my-2 mx-3">
                <div class="card col-6 text-white bg-dark m-2 pt-2">
                    <div class="card-body align-middle">
                        <div class="d-flex flex-row justify-content-between">
                            <span class="card-title">
                                <h4 class="float-end">Total &#128176;</h4>
                            </span>
                            <span class="mt-1">
                                <h5 class="card-text" style="color:lightskyblue;">₹ <%= total %>
                                </h5>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="card col-6 text-white bg-dark m-2 pt-2">
                    <div class="card-body align-middle">
                        <div class="d-flex flex-row justify-content-between">
                            <span class="card-title">
                                <h4 class="float-end">Average &#128176;</h4>
                            </span>
                            <span class="mt-1">
                                <h5 class="card-text" style="color:lightskyblue;">₹ <%= average %>
                                </h5>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="h-75">
            <div class="row row-cols-1 row-cols-md-4">
                <% for(let due of dues){ %>
                    <div class="col">
                        <div class="card text-white bg-dark m-2" id="<%= due.memberName %>">
                            <% if(due.type=='Receive' ) { %>
                                <div class="card-header">
                                    <%= due.memberName %> &#129297;
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title" style="color:greenyellow">₹ <%= due.difference %>
                                    </h5>
                                    <% } else { %>
                                        <div class="card-header">
                                            <%= due.memberName %> &#128554;
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title" style="color:gold">₹ <%= due.difference %>
                                            </h5>
                                            <% } %>
                                                <div class="d-flex flex-row justify-content-between">
                                                    <span>
                                                        <p class="card-text">
                                                            <%= due.type %>
                                                        </p>
                                                    </span>
                                                    <span class="float-end"><a
                                                            href="/complete/<%= due.memberName %>/<%= due.total %>"
                                                            class="btn btn-sm btn-outline-light">Details</a><span>
                                                </div>
                                        </div>
                                </div>
                        </div>
                        <% } %>
                    </div>
            </div>
        </div>
        <div class="my-5 text-center">
            <a href="/dashboard" class="btn btn-dark m-1">Return</a>
        </div>
    </div>

    <%- include('./partials/footer') %>