<%- include('./partials/header') %>

    <div class="container my-5">
        <div class="text-center">
            <div class="p-3">
                <form action="/dashboard" method="POST">
                    <div class="input-group">
                        <select id="memberName" name="memberName" class="form-select">
                            <option value="" disabled selected>Select member</option>
                            <% for(let member of members) { %>
                                <option value="<%= member %>">
                                    <%= member %>
                                </option>
                                <% } %>
                        </select>
                        <input type="text" id="amount" name="amount" class="form-control" pattern="^[1-9][0-9]*$"
                            required placeholder="Enter amount">
                        <input type="text" id="item" name="item" class="form-control"
                            placeholder="Enter item name (Optional)">
                        <button class="btn btn-dark" type="submit">Add</button>
                    </div>
                </form>
            </div>
            <div class="mt-5">
                <ul class="list-group">
                    <% for(let spend of spends) { %>
                        <div class="d-flex flex-row">
                            <li class="list-group-item rounded bg-dark text-white m-1 w-100">
                                <%= spend.memberName %> spent ₹<%= spend.amount %> on <%= spend.item %> &#<%=
                                                getEmoji(spend.amount) %>
                            </li>
                            <a class="btn btn-sm btn-dark m-1 py-2 px-3"
                                href="/dashboard/edit/<%= spend._id %>">Edit</a>
                            <a class="btn btn-sm btn-dark m-1 py-2 px-3"
                                href="/dashboard/clear/<%= spend._id %>">Remove</a>
                        </div>
                        <% } %>
                </ul>
            </div>
            <div class="my-5">
                <a href="/addmember" class="btn btn-dark m-1">Add Member</a>
                <a href="/dashboard/clear" class="btn btn-dark m-1">Clear Expenses</a>
                <a href="/complete" class="btn btn-dark m-1 <%= warning==true?'disabled':null %>">Complete</a>
            </div>
            <% if(warning){ %>
                <div class="alert alert-warning m-5" role="alert" style="padding:3px;">
                    &#9888; To continue, you must add at least 1 expense!
                </div>
                <% } %>
        </div>
    </div>

    <%- include('./partials/footer') %>